{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}
    <p><a href="{% pageurl self.parent %}">Home</a> &#8811; <a href="{% pageurl self.parent %}?category={{ self.category.slug }}" class="small special"> {{ self.category.name }}</a></p>
    <header class="major">

        <span>Published on {{ page.date|date:"j F Y" }}</span>
        <h1>{{ self.title }}</h1>
        {#  #}
    </header>

    {% for block in self.body %}
        {{ block }}
    {% endfor %}

    {% include "core/includes/navigation_posts.html" %}

{% endblock %}
