{% extends "base.html" %}
{% load wagtailcore_tags commonblocks_tags %}

{% block content %}
    {% for page in pages %}
        <article>
            <header class="major">
                <h2>{{ page.title }}</h2>
                <p>{{ page.date|date:"j M Y" }}</p>
            </header>
            
            {{ page.intro|simplerichtext }}
            <ul class="actions">
                <li><a href="{% pageurl page %}" class="button">Read More</a></li>
            </ul>
        </article>
    {% endfor %}

    {{ self.body }}

{% endblock %}
