{% load static wagtailcore_tags %}

<!-- Header -->
<nav>
   <ul>
       <li><a href="{{ BASE_URL }}">Home</a></li>
       <li><a href="{{ BASE_URL }}/sea/">Sea</a></li>
       <li><a href="{{ BASE_URL }}/mountains/">Mountains</a></li>
       <li><a href="{{ BASE_URL }}/code/">Code</a></li>
       <li style="border:none;"><a href="{{ BASE_URL }}/about/">About</a></li>
    </ul>
</nav>

<header id="header">
    <!--<a href="/" class="image avatar"><img src="{% static 'images/avatar.jpeg' %}" alt="Your avatar" /></a>-->
    <h1>I am Jordi.</h1>
    <h3>I write about my missions
        and share some code.</h3>
</header>
