{% load static wagtailcore_tags wagtailimages_tags core_tags %}

{% comment "Icons" %}
    Feel free to add more etc..
{% endcomment %}
<link rel='shortcut icon' type="image/x-icon" href='{% static 'images/favicon.ico' %}'>
<link rel='apple-touch-icon-precomposed' sizes='76x76' href='{% static 'images/apple-touch-icon-ipad.png' %}'>
<link rel='apple-touch-icon-precomposed' sizes='120x120' href='{% static 'images/apple-touch-icon-iphone-retina.png' %}'>
<link rel='apple-touch-icon-precomposed' sizes='152x152' href='{% static 'images/apple-touch-icon-ipad-retina.png' %}'>
