<nav>
   <ul>
       {% for item in items %}
           <li><a 
            {% if self.is_static %}
                {% if category %}
                    {% ifequal category.name item.title %} style="color: black;border-bottom:solid 1px;"{% endifequal %}
                {% else %}
                    {% ifequal self.pk item.link_page.pk %} style="color: black;border-bottom:solid 1px;"{% endifequal %}
                {% endif %}
            {% else %}
                {% ifequal self.category.name item.title %} style="color: black;border-bottom:solid 1px;"{% endifequal %}
            {% endif %}
            
            href="{{ item.url }}">{{ item.title }}</a></li>
       {% endfor %}
    </ul>
</nav>
