{% load wagtailcore_tags %}

    <ul class="{{ css_class }}">
    {% for link in links %}
        <li class="{{ css_class }}__item{% if link.ancestor %} -active{% endif %}">
            <a href="{{ link.url }}" class="{{ css_class }}__link{% if link.css_class %} {{ link.css_class }}{% endif %}{% if link.icon_class and link.title %} icon-text{% endif %}">
                {% if link.icon_class %}
                   <i class="i i-{{link.icon_class}}"></i>
                {% endif %}
                {% if link.title %}
                    <span>{{ link.title }}</span>
                {% endif %}
            </a>
        </li>
    {% endfor %}
    </ul>
