<nav>
   <ul>
       {% for item in items %}
           <li><a href="{{ item.url }}" 
            {% if self.is_static %}
                {% if category %}
                    {% ifequal category.name item.title %} class="active"{% endifequal %}
                {% else %}
                    {% ifequal self.pk item.link_page.pk %} class="active"{% endifequal %}
                {% endif %}
            {% else %}
                {% ifequal self.category.name item.title %} class="active"{% endifequal %}
            {% endif %}
            >{{ item.title }}</a></li>
       {% endfor %}
    </ul>
</nav>
