{% load wagtailcore_tags wagtailimages_tags %}

<div class="image-gallery">
    {% if self.title %}
        <h3>{{ self.title }}</h3>
    {% endif %}

    {% for image in self.images %}

        <div class="row">

            {% image image.image width-1600 as wide_img %}
            {% image image.image fill-800x450 as thumb_img %}

            <div class="12u gallery-item">

                <a href="{{ wide_img.url }}" class="image fit thumb"><img src="{{ thumb_img.url }}" width="{{ thumb_img.width }}" height="{{ thumb_img.height }}" alt="{{ image.image.title }}"/></a>
                {% if image.image.title %}
                    <figcaption><p>{{ image.image.title }}</p></figcaption>
                {% elif image.caption %}
                    <figcaption>{{ image.caption }}</figcaption>
                {% endif %}

            </div>
         </div>

    {% endfor %}

</div>
