{% load commonblocks_tags wagtailimages_tags %}

<figure>

    {% image self.image width-1200 as tmp_photo %}

    <img src="{{ tmp_photo.url }}" alt="{{ self.image.title }}" style="max-width:{{ self.image.width }}px;" />

    
    {% if self.caption %}
        <figcaption>{{ self.caption|simplerichtext }}</figcaption>
    {% endif %}

     {% if self.license_url %}
        <small><a rel="license" title="{{ self.license_name }}" href="{{ self.license_url }}">{{ self.license_name }}</a></small>
    {% endif %}

     {% if self.attribution %}
        <span>{{ self.attribution }}</span>
    {% endif %}

</figure>